{
  "extends": ["react-app", "plugin:react-hooks/recommended", "plugin:import/errors", "plugin:import/warnings", "plugin:@typescript-eslint/recommended", "plugin:react/recommended", "prettier"],
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "project": ["tsconfig.json"]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    // "react-hooks/exhaustive-deps": "error",
    "import/prefer-default-export": "off",
    "implicit-arrow-linebreak": "warn",
    "operator-linebreak": "warn",
    "@typescript-eslint/no-use-before-define": "warn",
    "@typescript-eslint/ban-ts-comment": "warn",
    "react/require-default-props": "warn",
    "jsx-quotes": "warn",
    "no-nested-ternary": "warn",
    "prettier/prettier": ["off", {}, { "usePrettierrc": true }],
    "arrow-body-style": "warn",
    "prefer-arrow-callback": "warn",
    "@typescript-eslint/indent": "off",
    "no-confusing-arrow": "warn",
    "react/react-in-jsx-scope": "on",
    "react/jsx-props-no-spreading": "warn",
    "function-paren-newline": "warn",
    "@typescript-eslint/no-namespace": "warn",
    "object-curly-newline": "warn",
    "react/jsx-curly-newline": "off",
    "no-bitwise": ["error", { "allow": ["~"] }],
    "no-continue": "warn",
    "react/jsx-wrap-multilines": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "react/prop-types": "warn",
    "global-require": "warn",
    "no-tabs": ["error", { "allowIndentationTabs": true }],
    "no-param-reassign": ["warn", { "props": true, "ignorePropertyModificationsFor": ["draft"] }],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "memberLike",
        "modifiers": ["private"],
        "format": ["camelCase"],
        "leadingUnderscore": "allowSingleOrDouble"
      }
    ],
    "no-underscore-dangle": "warn",
    "import/order": [
      "error",
      {
        "groups": [
          ["builtin", "external"],
          ["index", "sibling", "parent", "internal", "object", "type"]
        ]
      }
    ]
    // "import/no-unresolved": [2, { "caseSensitive": false }]
  }
}
// {
//   "extends": ["airbnb", "airbnb/hooks", "react-app", "plugin:react/recommended", "plugin:prettier/recommended"],
//   "parser": "@typescript-eslint/parser",
//   "plugins": ["@typescript-eslint"],
//   "env": {
//     "browser": true,
//     "jasmine": true,
//     "jest": true
//   },
//   "settings": {
//     "import/extensions": [".js", ".jsx", ".ts", ".tsx"],
//     "import/resolver": {
//       "node": {
//         "extensions": [".js", ".jsx", ".ts", ".tsx"]
//       },
//       "typescript": {
//         "project": "."
//       }
//     }
//   },
//   "rules": {
//     "arrow-body-style": "off",
//     "semi": ["warn", "never"],
//     "react/display-name": "off",
//     "react/jsx-one-expression-per-line": "off",
//     "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
//     "react/jsx-props-no-spreading": "off",
//     "react/require-default-props": "off",
//     "react/jsx-wrap-multilines": "off",
//     "react/react-in-jsx-scope": "off", // 이거 쓸수있도록 변경되어야함 코드 리팩토링 필수
//     "react/prop-types": "off",
//     "import/prefer-default-export": "off",
//     "import/no-anonymous-default-export": "off",
//     "import/no-extraneous-dependencies": [
//       "error",
//       {
//         "devDependencies": ["**/*.stories.*", "**/.storybook/**/*.*"],
//         "peerDependencies": true
//       }
//     ],
//     "import/extensions": [
//       "error",
//       "ignorePackages",
//       {
//         "js": "never",
//         "jsx": "never",
//         "ts": "never",
//         "tsx": "never"
//       }
//     ],
//     "no-param-reassign": ["error", { "props": false }],
//     "no-unused-expressions": ["warn"],
//     "no-shadow": "off",
//     "@typescript-eslint/no-shadow": ["error"],
//     "@typescript-eslint/camelcase": "off",
//     "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
//     "prefer-destructuring": ["error", { "object": true, "array": false }],
//     "lines-between-class-members": "off",
//     "jsx-a11y/click-events-have-key-events": "off",
//     "jsx-a11y/label-has-associated-control": [
//       "error",
//       {
//         "labelComponents": ["label"],
//         "labelAttributes": ["htmlFor"],
//         "controlComponents": ["input"]
//       }
//     ]
//   }
// }
